<h1>Learn how to Sail a Boat</h1>
<br>
<h1>Points of Sail</h1>>
<br>
<p>These are basically the directions a sailboat can and cannot maneuver and the accompanying sail positions 
    that make it happen. Terms such as beam, broad and close reach describe at which angle the wind is contacting 
    the boat and therefore how to adjust the sails for peak performance. You’ll learn that with the wind straight 
    on the bow, you may end up “in irons”, which is the no go zone.</p>
    <br</br>
<h1>Learning your boat</h1>
<p>Learn the unique parts of a boat so you’ll know what to touch, look at or do when the 
    instructor in your first class gives you a directive. For example, understanding “ease the jib sheet” or 
    “luff the main” could save you from getting very wet on your first day. Boat parts have unique names like vang,
    downhaul, mizzen, centerboard, boltrope, the luff and leech of a sail, and so forth. Once you learn that there are 
    no ropes on a boat (only “lines”), you’ll sound like a pro too.</p>
